alias tmux="env TERM=screen-256color tmux -2"
alias vim="nvim"
alias ptpython="python -m ptpython"
alias ptipython="ipython -m ptpython"
alias freeze="pip freeze > requirements.txt"

# Git
alias ga='git add'
alias gd='git diff'
alias gc='git commit'
alias gs='git status'
alias gb='git branch'
alias gpom='git pull origin master'
alias gpod='git pull origin develop'
alias gpoom='git push origin master'
alias gpood='git push origin develop'

alias activate='source activate'
alias deactivate='source deactivate'
alias ll='ls -la --block-size=M'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
# alias tree='tree -I "__*__"'
alias ls='exa'
alias tree='exa -T'
