alias tmux="env TERM=screen-256color tmux -2"
alias vim="nvim"

# Git
alias ga='git add'
alias gs='git status'
alias gb='git branch'
alias gpom='git pull origin master'
alias gpod='git pull origin develop'
alias gpoom='git push origin master'
alias gpood='git push origin develop'

alias activate='source activate'
alias deactivate='source deactivate'
alias ll='ls -la --block-size=M'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
