.mypy_cache/
.ropeproject
__pycache__
.venv

config/aws/cli/
config/aws/credentials

config/configstore/

config/direnv/

config/docker/.buildNodeID
config/docker/config.json
config/docker/plaintext-passwords.json

config/fontconfig/

config/pgcli/history
config/pgcli/log

config/pip/pip.conf

**/ptpython/history

config/tmux/plugins
config/zsh/.zcompdump

config/nvim/pack/packager
config/nvim/parser

config/zsh/.chpwd-recent-dirs
config/zsh/zsh/.zprofile

ssh/hosts.d

config/docker/contexts/
config/nvim/sessions/
config/zsh/.zsh_history
config/zsh/.zsh_sessions/
config/lazygit/
config/joplin-desktop/
