.mypy_cache/
.ropeproject
__pycache__
.venv

ptpython/history

config/aws/credentials
config/coc
config/docker/.buildNodeID
config/docker/config.json
config/docker/plaintext-passwords.json
config/pgcli/history
config/pgcli/log
config/pip/pip.conf
config/tmux/plugins
config/zsh/.zcompdump
